<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NombreApplicacion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Assignment_of_projects_and_tasks.styles.css" asp-append-version="true" />
    <!-- Material CSS -->
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <!-- Iconos de Material -->
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>

<body>
    <!-- Navigation Bar -->
    <header class="mdc-top-app-bar">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start" id="top-app-bar">
                <button class="material-icons material-appbar-button material-btn-primary ripple-effects"
                    id="BtnOpenSideNav" data-value="false" aria-label="Open navigation menu" onclick="openSideNav()">
                    menu
                </button>
                <span class="mdc-top-app-bar__title" id="top-app-bar">Assingment of Projects and Tasks</span>
            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar" id="top-app-bar">
                <span class="mdc-top-app-bar__title mr-20px" id="top-app-bar">Username</span>
                <button class="material-icons material-appbar-button material-btn-primary ripple-effects" onclick="">
                    more_vert
                </button>
            </section>
        </div>
    </header>
    
    <main class="mdc-top-app-bar--fixed-adjust">
        <div id="sidemenu" class="sidenav">
            <ul>
                <li><a class="ripple-effects">Users</a></li>
                <li><a class="ripple-effects">Projects</a></li>
                <li><a class="ripple-effects">Tasks</a></li>
                <li><a class="ripple-effects">Users Tasks</a></li>
            </ul>
        </div>
        <div class="content">
            @RenderBody()
        </div>


    </main>

    <!-- JS Material -->
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <!-- JavaScript -->
    <script src="./script.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
