@{
    ViewData["Title"] = "Prueba";
}

<!-- Example split danger button 

<header class="mdc-top-app-bar">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
       <select class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" aria-label="Open navigation menu" name="option" id="option">
        <option value="opcion 1">opcion 1</option>
        <option value="opcion 2">opcion 2</option>
        <option value="opcion 3">opcion 3</option>
        <option value="opcion 4">opcion 4</option>
      </select>
      <span class="mdc-top-app-bar__title">Page title</span>
    </section>
  </div>
</header>

-->
