<div class="mdc-card w-75 position-absolute top-50 start-50 translate-middle">
    <div class="mdc-card__primary-action mb-5 mt-4" tabindex="0">
        <div class="my-card-content">
            <h1 class="mb-4">LogIn</h1>
            <div class="d-flex justify-content-center mb-3">
                <!-- Texfield Outline -->
                <label class="mdc-text-field mdc-text-field--outlined me-2">
                    <span class="mdc-notched-outline">
                        <span class="mdc-notched-outline__leading"></span>
                        <span class="mdc-notched-outline__notch">
                            <span class="mdc-floating-label" id="my-label-id">Email</span>
                        </span>
                        <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <input type="text" class="mdc-text-field__input " aria-labelledby="my-label-id">
                    <span class="material-icons-outlined mdc-text-field__icon mdc-text-field__icon--trailing">
                        email
                    </span>
                </label>
                <label class="mdc-text-field mdc-text-field--outlined ms-2 mb-5">
                    <span class="mdc-notched-outline">
                        <span class="mdc-notched-outline__leading"></span>
                        <span class="mdc-notched-outline__notch">
                            <span class="mdc-floating-label" id="my-label-id">Password</span>
                        </span>
                        <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <input type="text" class="mdc-text-field__input" aria-labelledby="my-label-id">
                    <span class="material-icons-outlined mdc-text-field__icon mdc-text-field__icon--trailing">
                        key
                    </span>
                </label>
                <br/>
                <button class="material-button material-btn-primary ripple-effects position-absolute bottom-0 start-50 translate-middle-x">
                    <span>Color Primario</span>
                </button>
            </div>
        </div>
    </div>
</div>