
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  font-family: 'Roboto';
  font-size: 14px;
}

body {
  margin-bottom: 60px;
  background-color: #e5aaf0;
}

h1 {
  text-align: center;
}

.content {
  margin: 0 10%;
}

/* Material Card */
.mdc-card {
  position: unset !important;
}

.my-card {
  height: 350px;
  width: 350px;
}

.my-card-content {
  padding: 16px;
}

/* Material Button */
.material-button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  outline: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.459);
}

.material-btn-primary {
  background-color: rgb(98, 0, 238);
  color: #fff;
}

.material-btn-primary:hover {
  background-color: rgb(127, 35, 255);
}

.material-btn-secondary {
  background-color: rgb(1, 135, 134);
  color: #fff;
}

.material-btn-secondary:hover {
  background-color: rgb(46, 141, 139);
}

/* Ripple Effect */
.cercle {
  width: 0px;
  height: 0px;
  position: absolute;
  background: rgba(255, 255, 255, 0.712);
  border-radius: 50%;
}

.anim {
  opacity: 0.3;
  animation: touch 0.8s ease-out;
}

@keyframes touch {
  40% {
    opacity: 0.2;
  }

  100% {
    width: 800px;
    height: 800px;
    opacity: 0;
    margin: -400px;
  }
}

/* Barra Lateral */
.sidenav {
  z-index: 1;
  margin: 0;
  width: 250px;
  left: -250px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  transition: 0.5s;
}

.sidenav ul {
  padding: 0;
  list-style-type: none;
}

/* Botones Laterales */
.sidenav a {
  text-decoration: none !important;
  display: block;
  color: rgb(46, 46, 46) !important;
  font-size: 20px;
  padding: 15px 10%;
  width: 100%;
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.sidenav a div {
  top: 50px;
}

.sidenav a:hover {
  background-color: rgb(189, 189, 189);
  transition: 0.3s;
}

/* Material Button Icon */
.material-appbar-button {
  padding: 16px 16px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.material-icon-button {
  padding-top: 5px;
  width: 56px;
  height: 56px;
  border: none;
  border-radius: 30px;
  cursor: pointer !important;
  position: relative;
  outline: none;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.459);
}

/* Other Styles */

.w-56px {
  width: 56px !important;
}

.mr-20px {
  margin-right: 20px
}

.search-bar-button {
  padding-left: 10px;
  width: 67px;
}